* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #999a98;

}
.navbar {
   background-color: rgb(72, 72, 255); 
   box-shadow: 0 2px 6px 0 rgba(87, 54, 54, 0.5);
   position: sticky;
   top: 0;
   z-index: 1000;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.nav-logo img {
    width: 200px;
    height: auto;
}
.nav-menu {
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}
.nav-link {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 32px;
    border-radius: 10px;
}
.nav-link:hover {
    background-color: #894f4f;
    font-weight: bold;
}